<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.7.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d71165eaae9be96d2d6481858eaa7980:9a9de4f788cdf8faae526769adc96a71:8d0c8f4480e7ca859974f975ff5f45a6$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>CardFront.1.png</string>
                <key>size</key>
                <string>{912,4108}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>10C.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>10D.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{229,1},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>10H.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{457,1},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>10S.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{685,1},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2C.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{1,317},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2D.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{229,317},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2H.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{457,317},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2S.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{685,317},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3C.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{1,633},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3D.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{229,633},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3H.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{457,633},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3S.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{685,633},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4C.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{1,949},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4D.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{229,949},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4H.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{457,949},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4S.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{685,949},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5C.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{1,1265},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5D.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{229,1265},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5H.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{457,1265},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5S.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{685,1265},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6C.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{1,1581},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6D.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{229,1581},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6H.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{457,1581},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6S.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{685,1581},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7C.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{1,1897},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7D.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{229,1897},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7H.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{457,1897},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7S.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{685,1897},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>8C.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{1,2213},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>8D.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{229,2213},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>8H.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{457,2213},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>8S.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{685,2213},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>9C.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{1,2529},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>9D.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{229,2529},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>9H.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{457,2529},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>9S.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{685,2529},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>AC.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{1,2845},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>AD.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{229,2845},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>AH.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{457,2845},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>AS.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{685,2845},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>JC.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{1,3161},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>JD.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{229,3161},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>JH.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{457,3161},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>JS.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{685,3161},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>KC.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{1,3477},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>KD.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{229,3477},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>KH.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{457,3477},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>KS.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{685,3477},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>QC.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{1,3793},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>QD.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{229,3793},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>QH.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{457,3793},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>QS.svg</string>
                        <key>spriteOffset</key>
                        <string>{259,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{744,1052}</string>
                        <key>textureRect</key>
                        <string>{{685,3793},{226,314}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
